---
---

@import "{{ site.theme }}";

a {color:#e95510;}
a:hover,
a:focus {color:#e95510;}
a small {color:#e95510;}
a:hover small {color:#e95510}

body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 95%; }

h1, h2, h3, h4, h5, h6 {letter-spacing: -0.08em; padding: 2px; margin-top:2px; margin-bottom:2px;}
iframe {padding: 50px; margin-top:2px; margin-bottom:2px;}
div {padding: 2px; margin-top:2px; margin-bottom:2px;}


header h1 a {font-size: 1.2em;}
